@CHARSET "UTF-8";

/* 전체 DIV 지정 */
#bookTotal {
	width: 760px;
	border: 2px solid #dddddd;
	background-color: #FFFFFF;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* ------------------------------------------------------------------- */

#title {
	margin: 20px;
	border: 2px solid #EEEEEE;
	height: 50px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#title .title01 {
	font-size: 22px;
	color: #ED3D84;
	font-weight: bold;
	font-family: 맑은 고딕;
	display: inline;
	line-height: 50px;
	padding-left: 5px;
}

#title .title02 {
	font-size: 11px;
	color: #8C8C8C;
	font-family: 맑은 고딕;
	padding-left: 5px;
}

/* ------------------------------------------------------------------- */

#num0 {
	font-size: 18px;
	display: inline;
	color: #ED3D84;
	padding-left: 20px;
	font-family: 맑은 고딕;
}

#sub {
	font-size: 18px;
	display: inline;
	color: #313131;
	font-family: 맑은 고딕;
}

/* ------------------------------------------------------------------- */

#ticketInfo {
	clear: both;
	margin: 0px 20px 13px 20px;
	border-left: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	border-bottom: 1px solid #EAEAEA;
	text-align: center;
}

#ticketInfo #col {	
	border-top: 2px solid #ED3D84;
	background-color: #F5F5F5;
	height: 30px;
	font-size: 11px;
	font-family: 맑은 고딕;
	margin-top: 5px;
	color: #313131;
}

#ticketInfo #col p {
	line-height : 30px;
	float:left;
	margin : 0 0;
}

#ticketInfo #col .info {width: 248px; }
#ticketInfo #col .price {width: 120px; }
#ticketInfo #col .su {width: 120px; }
#ticketInfo #col .totalPrice {width: 130px; }
#ticketInfo #col .deleted {width: 90px;}


#ticketInfo #list {
	height: 90px;
	margin : 0 0;
	font-family: 맑은 고딕;
}

#ticketInfo #list p {
	background-color: #FFFFFF;
	margin : 0 0;
	float: left;
	font-size: 11px;
}

#ticketInfo #list .poster {width: 80px; float: left; margin: 10px 0px 0px 0px;}
#ticketInfo #list #info {width: 160px; height: 90px; border-right: 1px solid #E3E3E3; float: left; }
#ticketInfo #list #info .showNameInfo{font-size: 11px; text-align: left; padding-top: 20px; }
#ticketInfo #list #info .showDayInfo{font-size: 11px; text-align: left; vertical-align: top; color: #686868; padding-top: 3px;}

#ticketInfo #list .price {width: 130px; height:90px; border-right: 1px solid #E3E3E3; line-height: 90px; }
#ticketInfo #list .su {width: 110px; height:90px; border-right: 1px solid #E3E3E3; line-height: 90px;}
#ticketInfo #list .totalPrice {width: 130px; height:90px; border-right: 1px solid #E3E3E3; text-align: center; font-weight: bold; line-height: 90px;}
#ticketInfo #list .deleted {width: 88px; padding-top: 33px; }

#ticketInfo #list .deleted .removeDIVBtn {
   width: 23px;
   height: 23px;
   border: 1px solid #bdbdbd;
   background: #ffffff;
   border-radius: 2px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #e8e8e8 0 1px 0;
   color: #8C8C8C;
   font-family: 맑은 고딕;
   font-size: 13px;
   text-decoration: none;
   cursor: pointer;
   text-align: center;
   }




/* ---------------------------------- */


#pointInfo {
	clear: both;
	padding-left: 13px;
}

#pointInfo p{
	display: inline;
	height: 30px;
	font-size: 11px;
	color: #9a9a9a;
	font-weight: bold;
	font-family: 맑은 고딕;
}

#pointInfo p2 {
	font-size: 12px;
	font-family: 맑은 고딕;
	padding-left: 0px;
}

#pointInfo .textBox {
	display: inline;
}

#pointInfo .pointButton {
   border: 1px solid #c6c6c6;
   background: #fdfdfd;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   color: #7A7A7A;
   font-family: 맑은 고딕;
   text-decoration: none;
   height: 19px;
   font-size: 10px;
   width: 78px;
   cursor: pointer;
   padding: 0 0 0 0 ;
}


/* ---------------------------------- */


#price {
	margin: 20px;
	background-color: #DADDE2;
	height: 38px;
	line-height: 38px;
	text-align: right;
	padding-right: 10px;
	font-size: 12px;
	font-family: 맑은 고딕;
}


#price .text {
	font-weight: bold;
	color: #353535;
	display: inline;
}

#price .totalPrice {
	font-size: 16px;
	color: red;
	font-family: 맑은 고딕;
	font-weight: bold;
	display: inline;
}

#price .own {
	color: #353535;
	display: inline;
}



/* ------------------------------------------------------------------- */

#showInfo {
	clear: both;
	margin: 5px 20px 13px 20px;
	border-left: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	border-bottom: 2px solid #EAEAEA;
	border-top: 2px solid #ED3D84; 
	vertical-align: middle;
	font-size: 11px;
}

#showInfo .name {
	background-color: #F5F5F5;
	width: 145px;
	height: 40px;
	font-family: 맑은 고딕;
	color: #353535;
	padding-left: 5px;
	border-bottom: 1px solid #EAEAEA;
	padding: 0;
}

#showInfo .nameInfo {
	width: 599px;
	height: 40px;
	border-bottom: 1px solid #EAEAEA;
}

#showInfo .tel {
	background-color: #F5F5F5;
	width: 145px;
	height: 80px;
	font-family: 맑은 고딕;
	color: #353535;
	margin: 0 0 0 0;
	border-bottom: 1px solid #EAEAEA;
}

#showInfo .telInfo {
	width: 599px;
	height: 80px;
	border-bottom: 1px solid #EAEAEA;
	line-height: 130%;
}


/* ------------------------------------------------------------------- */

#noticeInfo {
	clear: both;
	margin: 5px 20px 13px 20px;
	border-left: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	border-bottom: 2px solid #EAEAEA;
	border-top: 2px solid #ED3D84;
	overflow: scroll;
	overflow-x: hidden; 
	height: 120px;
	line-height: 160%;
	vertical-align: middle;
	margin: 0px 20px 13px 20px;
	font-family: 맑은 고딕;
	font-size: 12px;
	padding: 10px;
	word-spacing: normal;
	color: #7A7A7A;
}

.check {
	clear: both;
	color: #313131;
	font-family: 맑은 고딕;
	font-size: 12px;
	vertical-align: middle;
	padding-left: 20px;
}


/* ------------------------------------------------------------------- */

#pay {
	clear: both;
	margin: 5px 20px 13px 20px;
	border-left: 1px solid #EAEAEA;
	border-right: 1px solid #EAEAEA;
	border-bottom: 2px solid #EAEAEA;
	border-top: 2px solid #ED3D84;
	height: 95px;
}

#pay #payInfo1 {
	float: left;
	padding-left: 60px;
	text-align: center;
	font-family: 맑은 고딕;
	font-size: 12px;
	padding-top: 30px;
}

#pay #payInfo {
	float: left;
	padding-left: 40px;
	text-align: center;
	font-family: 맑은 고딕;
	font-size: 13px;
	padding-top: 30px;
}


/* ---------------------------------------------- */

.payButton1 {
   text-align: center;
   }
 .payButton2 {
   border: 0px solid #000000;
   background: #ed3c83;
   background: -webkit-gradient(linear, left top, left bottom, from(#ed3d84), to(#ed3c83));
   background: -webkit-linear-gradient(top, #ed3d84, #ed3c83);
   background: -moz-linear-gradient(top, #ed3d84, #ed3c83);
   background: -ms-linear-gradient(top, #ed3d84, #ed3c83);
   background: -o-linear-gradient(top, #ed3d84, #ed3c83);
   background-image: -ms-linear-gradient(top, #ed3d84 0%, #ed3c83 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   color: #ffffff;
   padding: 8.5px 18px;
   font-size: 20px;
   text-decoration: none;
   cursor: pointer;
   font-family: 나눔고딕, Nanum Gothic, Dotum, 돋움, Helvetica;
   font-weight: bold;
   text-align: center;
   width: 140px;
   height: 50px;
   }

 .removeDIVBtn {
   width: 23px;
   height: 23px;
   border: 1px solid #bdbdbd;
   background: #ffffff;
   border-radius: 2px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #e8e8e8 0 1px 0;
   color: #8C8C8C;
   font-family: 맑은 고딕;
   font-size: 13px;
   text-decoration: none;
   cursor: pointer;
   text-align: center;
   }