@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* 기본 초기화 상태 */
*{margin:0; padding:0;}
html,body{ height: 100%; width: 100%;}
body{background-color : #EAEAEA; font-size: 12px; font-family:맑은 고딕;}
html { overflow-y: scroll; overflow-x: hidden; }
/* 모든 링크에 밑줄제거 */
a{text-decoration: none;}

/* input부분 초기화 */
 input[type=text]{
	/* color : #BDBDBD; */
	 width: 80pt; 
	 padding: 4px;	
} 

/* header부분 */
#top_wrap { width:100%; margin:auto; background:#313131; height:140px; }
#top_gnb_wrap { border-bottom:1px solid #454545;   }
#top_gnb_area { width:980px; margin:auto; height:30px; position:relative; }
#top_gnb_box { position:absolute; right:0px; }
#top_logo_wrap {width:1100px; margin:auto; height:100px; margin-top:12px;}
#top_gnb { margin: 0; padding: 0; }
#top_gnb li { float: left; list-style: none; font-size:11px; border-bottom:1px solid #454545; line-height:14px;}
#top_gnb li a { display: block; text-align:center; 	background: #313131; padding: 8px 9px; border-left: 1px solid #454545; width: 75px; color: #fff; white-space: nowrap; }
#top_gnb li a:hover { background: #444; }
#top_gnb li ul { margin: 0; padding: 0; position: absolute; visibility: hidden; }
#top_gnb li ul li { float: none; display: inline; }
#top_gnb li ul li a { width: 75px; font-size:11px; background: #313131; color: #fff; padding:8px 9px 8px 9px; }
#top_gnb li ul li a:hover { background: #444;  }
.top_gnb_pri {border-right:1px solid #454545; }
.top_gnb_arrow {font-size:9px; margin-left:3px; vertical-align:top; }
.top_gnb_sub {border-right:1px solid #454545; border-bottom:1px solid #454545;}
.top_gnb_logoImage{cursor:pointer; float:left;}
/* /* 모달부분 */
.login_modal{
	height: 40px;
	padding-left: 5px;
	width: 100%;
	margin: 10px auto;
	
} */

/* 검색창 */
.search_box {font-size:13px; height:32px; /* line-height:2.4em; */vertical-align:top; 
border-left:0px; border-right:0px; border-top:0px solid #fff; border-bottom:0px solid #fff; 
width:300px; color:#000; float: left; padding: 0px;}
.search_image{float: left;}


/* 상단메뉴바 */
#top_menu {
	height: 27px;
	width: 100%;
 	border: 1px solid #D5D5D5;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: auto;
	text-align: center;
	background-color: #ffffff;
}
#top_menu ul li {
	background-color: white;
	vertical-align: middle;
	text-align: center;
}
#top_menu li{
	display: inline;
	padding-right: 110px;
}
#top_menu ul{
	position: absolute;
}
#top_menu .menu_link{
	text-decoration: none;
	color: #313131;
	width: 200px;
	font-size: 17px;
	font-weight: bold;
	font-family: 맑은 고딕;
	list-style: none;
}
#top_menu .menu_link:HOVER {
	color: #747474;
}
#top_menu .menu_link_pink{
	text-decoration: none;
	color: #FF007F;
	width: 200px;
	font-size: 15px;
	font-weight: bold;
	font-family: 맑은 고딕;
}
#top_menu .menu_link_pink:HOVER {
	color: #FF3399;
}
#top_menu li ul{
	background-color: white;
	display: none;
	height: auto;
	padding-top: 5px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 130px;
	z-index: 100;
	/* left: 847px; */
	left: 515px;
	top: 170px;
	list-style: none;
}
#top_menu li .realtime_star{
/* 	background-color: white;
	display: none;
	height: auto;
	padding-top: 5px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 130px;
	z-index: 100; */
	/* left: 1190px; */
	left:870px;	
	list-style: none;
}
#top_menu li:hover ul{
display:block;
list-style: none;
}
#top_menu li li {
background: white;
display:block;
float:none;
margin:auto;
padding:0px;
width:130px;
list-style: none;
}
#top_menu li:hover li a{
background:none;
list-style: none;
}
#top_menu li ul a{
display:block;
height:37px;
font-size:13px;
font-style:normal;
margin:0px;
padding:12px 15px 0px 15px;
color: #313131;
}
#top_menu li ul a:hover, .top_menu li ul li:hover a{
background: rgb(71,71,71);
border:0px;
color:#ffffff;
text-decoration:none;
font-weight: bold;
}


/* 슬라이드 부분 */
/* #wrap {
	display: inline-table;
	position: relative;
	width: 100%;
	background: #eeeeee;
	height: 500px;
	border: 1px solid red;
}

#wrap_in{
	width: 1010px;
	height: 500px;
	margin: auto;
	border: 1px solid blue;
}

#main_bn {
	float:left;
	width: 700px;
	height: 450px;
	text-align:left;
	border: 1px solid yellow;
}
#main_bn2{
	float: left;
	width: 300px;
	height: 410px;
	margin: 30px 0px 0px 5px;
	border: 1px solid orange;
}

#main_side{
	margin: auto;
	width: 300px;
	height: 205px;

}

 #main_bn img {

	padding-top: 30px;
} 

#main_bn_btn {
	width: 800px;
	padding-left: 280px;
	list-style-type: none;
	position: absolute;
	bottom: 20px;
	left: 5px;
}

#main_bn_btn li {
	float: left;
	padding: 10px 2px;
	margin-right: 5px;
} */

#wrap {
	display: inline-table;
	position: relative;
	width: 100%;
	background: #eeeeee;
	height: 500px;
}

 #wrap_in{
	width: 1010px;
	height: 500px;
	margin: auto;
}

#main_bn {
	float:left;
	width: 700px;
	height: 450px;
	text-align:left;
}
 #main_bn2{
	float: left;
	width: 300px;
	height: 410px;
	margin: 30px 0px 0px 5px;
}

#main_side{
	margin: auto;
	width: 300px;
	height: 205px;

} 

 #main_bn img {
	width:100%;
	height:auto;
	padding-top: 30px;
} 

#main_bn_btn {
	width: 500px;
	height: 50px;
	position: absolute;
	list-style-type: none;
	border: 1px solid blue;
	margin: auto;
}

#main_bn_btn li {
	float: left;
	padding: 10px 2px;
	margin-right: 5px;
}

a, a:hover, a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}


/* Footer 부분*/
#footer {clear:both; padding-top:0px; }
#footer_1 {height:48px; background-color:#292929;}
#footer_menu {width:980px; height:50px; margin:0 auto;}
#footer_menu ul {width:980px; list-style: none; margin-left:120px; padding-top:2px;}
#footer_menu li {float:left; padding:15px 30px; font-size:12px; font-weight:400; color:#fff; }
#footer_menu li:hover {color:#FF007F; }
#footer_2 {height:120px; background-color:#313131;}
#footer_copyright {width:980px; margin:0 auto; padding-top:10px; }



.circle1 {                                 
  width: 35px;                               
  height: 25px;                             
  background: #5F00FF;                            
  border-radius: 50%; 
  font-family: 맑은 고딕;
  color: white;
  font-weight: bold; 
  font-size: 15px;
  text-align: center;  
  vertical-align: middle;
  padding-top: 15px;                 
}


